<!-- should get the data from backend -->

<div class="candidate-question">
    <div class="question">
        <p>
            Question 1
        </p>

        <div class="enunciated">
            <p>
                for i in range (5):<br>
                print (i)<br>
                .....<br>
                .....<br>
                .....<br>
            </p>
        </div>
    </div>

    <div class="result">
        <p>
            Result:
        </p>

        <p class="output-question">
            <span class="correct-answer">
                0,1,2,3,4
            </span>
        </p>
        <span class="answer-icon" title="Wrong answer"></span>
    </div>
</div>

<div class="candidate-question">
    <div class="question">
        <p>
            Question 2
        </p>

        <div class="enunciated-no-code">
            <p>
                <br>
                Is Python just cool or not?
            </p>
        </div>
    </div>

    <div class="result">
        <p>
            Result:
        </p>

        <p class="output-question isnot-wrong">
            <span class="correct-answer">
                0,1,2,3,4
            </span>
        </p>
        <span class="answer-icon correct" title="Wrong answer"></span>
    </div>
</div>