<div class="modal">
    <div class="modal-window">
        <p class="modal-title">Edit question</p>

        <form class="modal-form" (ngSubmit)="onSubmit($event)" #editQuestionForm="ngForm">
            <div class="group-input">
                <div class="input-group">
                    <label for="code">
                        Code
                    </label>
    
                    <input type="text" class="standard-input input80" id="code" name="code" value="{{question.code}}">
                </div>

                <div class="input-group">
                    <label for="description">
                        Description
                    </label>
    
                    <input type="text" class="standard-input input80" id="description" name="description" value="{{question.description}}">
                </div>
            </div>

            <div class="group-input">
                <div class="input-group">
                    <label for="theme-code">
                        Theme
                    </label>

                    <div class="select">
                        <select class="input80" name="themecode" id="themecode">
                            <ng-template ngFor let-item [ngForOf]="themes" let-i="index">
                                <option [selected]="question.theme === themes[i] ? 'selected' : ''" value="{{themes[i]}}">{{themes[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="description">
                        Dificulty
                    </label>
    
                    <div class="select">
                        <select class="input80" name="dificulty" id="dificulty">
                            <ng-template ngFor let-item [ngForOf]="dificulties" let-i="index">
                                <option [selected]="question.dificulty === dificulties[i] ? 'selected' : ' '" value="{{dificulties[i]}}">{{dificulties[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="description">
                        Type
                    </label>
    
                    <div class="select">
                        <select class="input80" name="type" id="type">
                            <ng-template ngFor let-item [ngForOf]="types" let-i="index">
                                <option [selected]="question.theme === themes[i] ? 'selected' : ''" value="{{types[i]}}">{{types[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label for="description">
                    Instructions
                </label>

                <textarea id="instructions" name="instructions" class="standard-input" rows="8">{{question.instructions}}</textarea>
            </div>

            <div class="questions-answer">
                <p>
                    Answer
                </p>

                <div class="answer-handle">
                    
                </div>
            </div>

            <div class="modal-actions">
                <button (click)="closeModal()" type="button" class="btn btn-modal">Cancel</button>
    
                <button type="submit" class="btn btn-modal">Validate</button>
            </div>
        </form>
    </div>
</div>