<div class="table">
    <div class="table-head">
        <ul class="table-column">
            <li>Code</li>
            <li>Description</li>
            <li>Dificulty</li>
            <li style="margin-right: 0.5em!important;">Action</li>
        </ul>
    </div>

    <div class="table-body">
        <ng-template ngFor let-item [ngForOf]="questions" let-i="index" [ngForTrackBy]="trackQuestions">
            <ul class="table-row" id="{{i}}">
                <li>{{questions[i].code}}</li>
                <li>{{questions[i].description}}</li>
                <li>{{questions[i].dificulty}}</li>
                <li class="table-actions">
                    <button (click)="openDeleteModal(i)" class="btn-action" type="button">
                        <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                    </button>
    
                    <button (click)="openEditModal(i)" class="btn-action" type="button">
                        <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                    </button>
                </li>
            </ul>
        </ng-template>
    </div>
</div>

<span (click)="openAddModal()" class="container-new-questions">
    <button class="btn btn-add">+</button>
    New question
</span>

<app-delete-question-modal *ngIf="showDeleteModal" (onDelete)="onDeleteQuestion($event)" (onClose)="modalDeleteClosed($event)"></app-delete-question-modal>
<app-edit-question-modal *ngIf="showEditModal" [question]="questions[this.id]" [answers]="questions[this.id].answers" (onSave)="onEditQuestion($event)" (onClose)="modalEditClosed($event)"></app-edit-question-modal>
<app-add-question-modal *ngIf="showAddModal" (onAdd)="onAddQuestion($event)" (onClose)="modalAddClosed($event)"></app-add-question-modal>

