<div class="modal">
    <div class="modal-window">
        <p class="modal-title">Edit profile</p>

        <form (ngSubmit)="onSubmit($event)" #profileEditForm="ngForm">
            <div class="input-group">
                <label for="code">Code</label>
                <input name="code" id="code" class="standard-input" type="text" value="{{profile.code}}">
            </div>

            <div class="input-group">
                <label for="description">Description</label>
                <input name="description" id="description" class="standard-input" type="text" value="{{profile.description}}">
            </div>

            <div class="input-group">
                <label for="dificulty">Dificulty</label>
                <input name="dificulty" id="dificulty" class="standard-input" type="text" value="{{profile.dificulty}}">
            </div>

            <div class="modal-actions">
                <button (click)="closeModal()" type="button" class="btn btn-edit-modal">Cancel</button>

                <button type="submit" class="btn btn-edit-modal">Confirm</button>
            </div>
        </form>
    </div>
</div>