<div class="wrapper">
    <header class="admin-header">
        <img src="assets/images/logo/facebook.png" class="logo" alt="Facebook logo" title="Facebook logo" />
        
        <a class="btn" routerLink="/">
            <img class="img-icon" src="assets/images/icons/lock-icon.png"/>
            Candidate
        </a>
    </header>

    <section class="login-section">
        <form>
            <p>Admin zone</p>
            <input class="standard-input" type="text" name="username" placeholder="Username">
            <input class="standard-input" type="password" name="username" placeholder="Password">
            <input class="btn btn-login" type="submit" value="Let's go" routerLink="/admin/candidate">
        </form>
    </section>
</div>
