<div class="wrapper">
    <section class="container-conclusion">
        <aside class="warnign-container-text">
            <p>
                Thank you “Candidate1” for participating at the evaluation. All your answers has been saved and soon we will contact you in case your profile fits the requirements of the job.
    You can now close safely this window.
            </p>
        </aside>
    
        <a class="btn btn-back-login" (click)="this.userComponent.userLogout()">
            Back to login
        </a>
    </section>
</div>