<div class="wrapper">
    <app-user-header></app-user-header>

    <section class="container-main"> 
      <aside class="container-table">
        <div class="table">
          <div class="table-head">
              <ul class="table-column">
                  <li>#</li>
                  <li>Description</li>
                  <li>Theme</li>
                  <li>Dificulty</li>
                  <li style="margin-right: 0.5em;">Status</li>
              </ul>
          </div>
  
          <div class="table-body">
              <ul class="table-row">
                  <li><a routerLink="/user/evaluation">1</a></li>
                  <li>Description 1</li>
                  <li>Python</li>
                  <li>Hard</li>
                  <li>Pending</li>
              </ul>
  
              <ul class="table-row">
                <li><a routerLink="/user/evaluation">2</a></li>
                <li>Description 2</li>
                <li>Python</li>
                <li>Medium</li>
                <li>Doing</li>
            </ul>
  
            <ul class="table-row">
              <li><a routerLink="/user/evaluation">3</a></li>
              <li>Description 3</li>
              <li>PostegreSQL</li>
              <li>easy</li>
              <li>done</li>
            </ul>
          </div>
        </div>
      </aside>

      <button (click)="goToConclude()" class="btn btn-conclude" type="button">Conclude</button>
    </section>
</div>