<div class="wrapper">
    <app-admin-header></app-admin-header>

    <section class="cadidate-container">
        <aside class="candidate-table-container">
            <div class="table">
                <div class="table-head">
                    <ul class="table-column">
                        <li>Name</li>
                        <li>Created</li>
                        <li>ID</li>
                        <li>Status</li>
                        <li style="margin-right: 0.5em!important;">Actions</li>
                    </ul>
                </div>

                <div class="table-body">
                    <ul class="table-row">
                        <li (click)="openResult()">Candidate 1</li>
                        <li>DD/MM/YY</li>
                        <li>12345</li>
                        <li>PENDENT</li>
                        <li class="table-actions">
                            <button (click)="openDeleteModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>

                            <button (click)="openEditModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </li>
                    </ul>

                    <ul class="table-row">
                        <li (click)="openResult()">Candidate 1</li>
                        <li>DD/MM/YY</li>
                        <li>12345</li>
                        <li>PENDENT</li>
                        <li class="table-actions">
                            <button (click)="openDeleteModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>

                            <button (click)="openEditModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </li>
                    </ul>

                    <ul class="table-row">
                        <li (click)="openResult()">Candidate 1</li>
                        <li>DD/MM/YY</li>
                        <li>12345</li>
                        <li>PENDENT</li>
                        <li class="table-actions">
                            <button (click)="openDeleteModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>

                            <button (click)="openEditModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </li>
                    </ul>

                    <ul class="table-row">
                        <li (click)="openResult()">Candidate 1</li>
                        <li>DD/MM/YY</li>
                        <li>12345</li>
                        <li>PENDENT</li>
                        <li class="table-actions">
                            <button (click)="openDeleteModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>

                            <button (click)="openEditModal()" class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <span (click)="openAddModal()" class="container-new-candidate">
                <button class="btn btn-add">+</button>
                New candidate
            </span>
        </aside>

        <section *ngIf="isOn" class="container-candidate-details">
            <ul class="tab-container">
                <li (click)="changeTab('python')" [ngClass]="{'active-tab' : actualTab === 'python'}">Python: 5/6</li>
                <li (click)="changeTab('java')" [ngClass]="{'active-tab' : actualTab === 'java'}">Java: 5/6</li>
                <li (click)="changeTab('angular')" [ngClass]="{'active-tab' : actualTab === 'angular'}">Angular: 2/4</li>
                <li (click)="changeTab('postegres')" [ngClass]="{'active-tab' : actualTab === 'postegres'}">PostegreSQL: 0/0</li>
            </ul>

            <aside class="cadidate-questions-result">
                <app-admin-candidate-questions [events]="eventsSubject.asObservable()"></app-admin-candidate-questions>
            </aside>
        </section>
    </section>

    <app-delete-candidate-modal *ngIf="showDeleteModal" (onClose)="modalDeleteClosed($event)"></app-delete-candidate-modal>
    <app-edit-candidate-modal *ngIf="showEditModal" (onClose)="modalEditClosed($event)"></app-edit-candidate-modal>
    <app-add-candidate-modal *ngIf="showAddModal" (onClose)="modalAddClosed($event)"></app-add-candidate-modal>
</div>
