<div class="table">
    <div class="table-head">
        <ul class="table-column">
            <li>Code</li>
            <li>Description</li>
            <li>Dificulty</li>
            <li style="margin-right: 0.5em!important;">Action</li>
        </ul>
    </div>

    <div class="table-body">
        <ng-template ngFor let-item [ngForOf]="profiles" let-i="index" [ngForTrackBy]="trackProfiles">
            <ul class="table-row" id="{{i}}">
                <li (click)="openChangeDesc()">{{profiles[i].code}}</li>
                <li>{{profiles[i].description}}</li>
                <li>{{profiles[i].dificulty}}</li>
                <li class="table-actions">
                    <button (click)="openDeleteModal(i)" class="btn-action" type="button">
                        <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                    </button>
    
                    <button (click)="openEditModal(i)" class="btn-action" type="button">
                        <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                    </button>
                </li>
            </ul>
        </ng-template>
    </div>
</div>

<span (click)="openAddModal()" class="container-new-profiles">
    <button class="btn btn-add">+</button>
    New profile
</span>

<section *ngIf="showChangeDesc" class="change-descriptions-container">
    <aside class="container-change">
        <p>Avaliable</p>

        <ul>
            <li>Description 1</li>
            <li>Description 1</li>
            <li>Description 1</li>
            <li>Description 1</li>
        </ul>
    </aside>

    <div class="controls-change">
        <span class="change-to-right">
            >
        </span>

        <span class="change-to-left">
            <
        </span>
    </div>

    <aside class="container-change">
        <p>Avaliable</p>

        <ul>
            <li>Description 1</li>
            <li>Description 1</li>
            <li>Description 1</li>
            <li>Description 1</li>
        </ul>
    </aside>
</section>

<app-delete-profile-modal *ngIf="showDeleteModal" (onDelete)="onDeleteProfile()" (onClose)="modalDeleteClosed($event)"></app-delete-profile-modal>
<app-edit-profile-modal *ngIf="showEditModal" [profile]="profiles[this.id]" (onSave)="onSaveProfile($event)" (onClose)="modalEditClosed($event)"></app-edit-profile-modal>
<app-add-profile-modal *ngIf="showAddModal" (onAdd)="addProfile($event)" (onClose)="modalAddClosed($event)"></app-add-profile-modal>

