<div class="modal">
    <div class="modal-window">
        <p class="modal-title">New question</p>

        <form class="modal-form" (ngSubmit)="onSubmit($event)" #addQuestionForm="ngForm">
            <div class="group-input">
                <div class="input-group">
                    <label for="code">
                        Code
                    </label>
    
                    <input type="text" class="standard-input input80" id="code" name="code">
                </div>

                <div class="input-group">
                    <label for="description">
                        Description
                    </label>
    
                    <input type="text" class="standard-input input80" id="description" name="description">
                </div>
            </div>

            <div class="group-input">
                <div class="input-group">
                    <label for="code">
                        Theme
                    </label>
    
                    <div class="select">
                        <select class="input80" name="themecode" id="theme-code">
                            <ng-template ngFor let-item [ngForOf]="themes" let-i="index">
                                <option [selected]="themes[i] === 'none'? 'selected' : ''" value="{{themes[i]}}">{{themes[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="description">
                        Dificulty
                    </label>
    
                    <div class="select">
                        <select class="input80" name="dificulty" id="dificulty">
                            <ng-template ngFor let-item [ngForOf]="dificulties" let-i="index">
                                <option [selected]="dificulties[i] === 'none'? 'selected' : ''" value="{{dificulties[i]}}">{{dificulties[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="description">
                        Type
                    </label>
    
                    <div class="select">
                        <select class="input80" name="type" id="type">
                            <ng-template ngFor let-item [ngForOf]="types" let-i="index">
                                <option [selected]="types[i] === 'none'? 'selected' : ''" value="{{types[i]}}">{{types[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label for="description">
                    Instructions
                </label>

                <textarea id="instructions" name="instructions" class="standard-input" rows="8"></textarea>
            </div>

            <div class="questions-answer">
                <p>
                    Answer
                </p>

                <div class="answer-handle">
                    <div class="questions-list">
                        <div class="question">
                            <input type="radio" id="question-answer-1" name="question-answer-1" value="1">
                            <label for="question-answer-1">Here's the firt question</label>

                            <button class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>
            
                            <button class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </div>

                        <div class="question">
                            <input type="radio" id="question-answer-1" name="question-answer-1" value="1">
                            <label for="question-answer-1">Here's the firt question</label>

                            <button class="btn-action" type="button">
                                <img src="assets/images/icons/trash.png" alt="Delete this candidate" title="Delete this candidate"/>
                            </button>
            
                            <button class="btn-action" type="button">
                                <img src="assets/images/icons/edit.png" alt="Edit this candidate" title="Edit this candidate"/>
                            </button>
                        </div>

                        <div class="new-question">
                            <input placeholder="Input for new question" name="nq" id="nq">

                            <button id="add-question" type="button">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-actions">
                <button (click)="closeModal()" type="button" class="btn btn-modal">Cancel</button>
    
                <button type="submit" class="btn btn-modal">Validate</button>
            </div>
        </form>
    </div>
</div>