<div class="modal">
    <div class="modal-window">
        <p class="modal-title">New question</p>

        <form class="modal-form" (ngSubmit)="onSubmit($event)" #addQuestionForm="ngForm">
            <div class="group-input">
                <div class="input-group">
                    <label for="code">
                        Code
                    </label>
    
                    <input type="text" class="standard-input input80" id="code" name="code">
                </div>

                <div class="input-group">
                    <label for="description">
                        Description
                    </label>
    
                    <input type="text" class="standard-input input80" id="description" name="description">
                </div>
            </div>

            <div class="group-input">
                <div class="input-group">
                    <label for="code">
                        Theme
                    </label>
    
                    <div class="select">
                        <select class="input80" name="themecode" id="theme-code">
                            <ng-template ngFor let-item [ngForOf]="themes" let-i="index">
                                <option [selected]="themes[i] === 'none'? 'selected' : ''" value="{{themes[i]}}">{{themes[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="description">
                        Dificulty
                    </label>
    
                    <div class="select">
                        <select class="input80" name="dificulty" id="dificulty">
                            <ng-template ngFor let-item [ngForOf]="dificulties" let-i="index">
                                <option [selected]="dificulties[i] === 'none'? 'selected' : ''" value="{{dificulties[i]}}">{{dificulties[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <label for="type">
                        Type
                    </label>
    
                    <div class="select">
                        <select (change)="handleChangeType($event)" class="input80" name="type" id="type">
                            <ng-template ngFor let-item [ngForOf]="types" let-i="index">
                                <option [selected]="types[i] === 'none'? 'selected' : ''" value="{{types[i]}}">{{types[i]}}</option>
                            </ng-template>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label for="description">
                    Instructions
                </label>

                <textarea id="instructions" name="instructions" class="standard-input" rows="8"></textarea>
            </div>

            <div class="questions-answer">
                <p>
                    Answer
                </p>

                <div class="main-handle" [ngSwitch]="typeQuestion" [ngClass]="{'answer-padding' : typeQuestion !== 'Code'}">

                    <app-single *ngSwitchCase="'Single answer'" [inputAnswers]="answers" (onChangeAnswers)="recieveAnswers($event)"></app-single>
                    <app-multiple *ngSwitchCase="'Multiple answer'"></app-multiple>
                    <app-code *ngSwitchCase="'Code'" (onChangeAnswerCode)="recieveAnswerCode($event)"></app-code>
                    <app-text *ngSwitchCase="'Text'" (onChangeAnswerText)="recieveAnswerText($event)"></app-text>

                    <div *ngSwitchDefault class="default-type-msg">
                        <p>
                            Please, select a type question first.
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-actions">
                <button (click)="closeModal()" type="button" class="btn btn-modal">Cancel</button>
    
                <button type="submit" class="btn btn-modal">Validate</button>
            </div>
        </form>
    </div>
</div>